<div class="footer">
    <!-- footer conclusion and links -->
    <div class="footer-text">
        <!-- first box -->
        <div class="conclude">
            <div class ="logo">
              <img src="https://res.cloudinary.com/dmnep85ym/image/upload/v1713867500/for_black_bgm_ioxgoi.png" alt="Smile Club Logo">    
            </div>
            <div class="conclude-text">
                <p>SMILE Club is a college initiative celebrating Indian culture through engaging events. Join us to explore and embrace our rich heritage with a vibrant community.</p>
            </div>
            
        </div>

         <!-- Second box -->
        <div class="quick-links">
          <li class="list-header">QUICK LINKS</li>
          <li class="list-points"><a href="{% url 'home' %}">Home</a></li>
          <li class="list-points"><a href="{% url 'blogs-list' %}">Blogs</a></li>
          <li class="list-points"><a href="{% url 'gallery' %}">Gallery</a></li>
          
        </div>

        <!-- third box -->
        <div class="company">
           
          <li class="list-header">OTHER LINKS</li>
          <li class="list-points"><a href="{% url 'team-list' %}">About Us</a></li>
          <li class="list-points"><a href="{% url 'event-list' %}">Events</a></li>
          
          
      </div>
       
       

        
      <!-- fourth box -->
      <div class="download-app">
             
        <li class="list-header">FOLLOW US ON</li>
        <div class="social-media">
                
          <div class="bg-circle">
              <a href="https://www.instagram.com/smile._.club_nitk/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
          </div>
          <div class="bg-circle">
              <a href="https://www.linkedin.com/company/smile-club-nitk/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
          </div>
          <div class="bg-circle">
              <a href="https://youtube.com/@SMILEClub_NITK?si=qk-v-oJZi8M7igKn" target="_blank"><i class="fa-brands fa-youtube"></i></a>
          </div>
        </div>
      </div>

    </div>
    
    <!-- footer company name -->
    <h2 class="smile">smile club</h2>
</div>

